apiVersion: apps/v1
kind: Deployment
metadata:
  name: app-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: persistent-demo
  template:
    metadata:
      labels:
        app: persistent-demo
    spec:
      containers:
      - name: app
        image: busybox
        command: ['sh', '-c', 'while true; do sleep 3600; done']
        volumeMounts:
          - name: data-volume
            mountPath: /mnt/data
        resources:
          requests:
            memory: "64Mi"
            cpu: "250m"
          limits:
            memory: "128Mi"
            cpu: "500m"
      volumes:
      - name: data-volume
        persistentVolumeClaim:
          claimName: app-pvc  
